@model MvcWorld.Client.Models.Invitation

@{
    ViewData["Title"] = "Invitation";
}

HTML HELPERS
<h1>Party Invitation</h1>

<p>@Model.Name</p>
<p>@Model.Message</p>


@using (Html.BeginForm("post", "invite"))
{
    @Html.LabelFor(m => m.Name, "State your name")
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)

    @Html.LabelFor(m => m.Menu, "Gluten-Free")
    @Html.RadioButtonFor(m => m.Menu, "yes")
    @Html.ValidationMessageFor(m => m.Menu)

    @Html.LabelFor(m => m.Guests)
    @Html.TextBoxFor(m => m.Guests)
    @Html.ValidationMessageFor(m => m.Guests)

    @Html.LabelFor(m => m.Rsvp)
    @Html.CheckBoxFor(m => m.Rsvp)
    @Html.ValidationMessageFor(m => m.Rsvp)

    <button type="submit">Submit</button>
}

@*TAG HELPERS
<h1>Party Invitation</h1>

<p>@Model.Name</p>
<p>@Model.Message</p>

<form asp-controller="invite" method="post">
    <label asp-for="Menu" class="pretty">Gluten-Free</label>
    <input type="radio" asp-for="Menu" value="yes">
    <span asp-validation-for="Menu"></span>

    <button type="submit">submit</button>
</form>*@

@*@Html.Partial("DatePartial", Model.Name)*@

@*@section Scripts
    {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}*@


