@model MvcWorld.Client.Models.Invitation

@{ 
    ViewData["Title"] = "Invitation";
}

<h1>Party Invitation</h1>
<h2>@DateTime.UtcNow</h2>

<p>@Model.Name</p>
<p>@Model.Message</p>


@using (Html.BeginForm("post", "invite"))
{
    @Html.LabelFor(m => m.Menu, "Gluten-Free")
    @Html.RadioButtonFor(m => m.Menu, "yes")
    @Html.ValidationMessageFor(m => m.Menu)

    @Html.LabelFor(m => m.Guests)
    @Html.TextBoxFor(m => m.Guests)
    @Html.ValidationMessageFor(m => m.Guests)

    @Html.LabelFor(m => m.Rsvp)
    @Html.CheckBoxFor(m => m.Rsvp)
    @Html.ValidationMessageFor(m => m.Rsvp)

    <button type="submit">Submit</button>
}


